# https://github.com/aptible/supercronic/tree/master/cronexpr

# Run Daily at 00:00
# 0 0 */1 * * * * bash -c "python -u /opt/app/sync.py"

# Run Hourly
0 * * * * * * bash -c "python -u /opt/app/sync.py"
